.div1{
	background-color: black;
	height: 40px;
	/*width: 100%;*/
}
.li1{
	
	display: inline;
	float: right;
	color:white;
	margin: 10px;
}
.div2{
	background-color: purple;
	width: 50%;
	margin: auto;
	color: white;
}
.p1{
	text-align: center;
}
.div3{
	background-color: rgba(51,51,51,.95);;
	height: 70px;

}


.div4{
	float: right;
	text-align: right;
}
.p2{
	font-size: 36px;
	color: blue;
}

.li2{
	float:right;
	list-style-type: none;
	margin-right: 20px;

	color: white;
	font-size: 24px;
	
}
.div5{
	background-color: #333;
	position: absolute;
	top: 110px;
}

.ul2{
	float: right;
}
.dropdown{
	
	
	position: relative;
	display: inline-block;
	/*width: 100%;*/
	padding: 30px;
	/*width: 10%;*/
}.dropdown-content{
	display: none;
	position: absolute;
	/*width: 10%;*/
	/*background-color: #f9f9f9*/
	color: white;
	min-width: 80px;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	padding: 6px 12px;
	top: 0px;
}

.dropbtn{
	background-color: rgba(51,51,51,.95);
	color: white;
	margin: 20px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown-content a{
	display: block;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	/*background-color: grey;*/
}

.dropbtn:hover .dropdown-content{
	display: block;
	top: 80px;
	background-color:black; 
}

.dropdown-content: hover a{
	background-color: white;
}

.p3{
	float: left;
	font-size: 25px;
}
.p4{
	margin-top: 0px;
	background-color: #929292;
	height: 30px;
	clear: both;
}
.p3 a{
	font-size: 20px;
}

  .container{
        width: 150px;
        margin-left: 10px;
        float: left;
        margin-right: 100px;
    }
    img{
        width: 150px;
        height:150px;
        float: left;
        border: 3px solid white;
    }
    .text{
        text-align:center;
    }
    img:hover {
    	border: 4px solid black;
    }

.div7{
	background-color: #4C4C4C;
	height: 150px;
	clear: both;
}

.desc{

	
	text-align: center;
}

.effectback1{
	
	display: block;
	background: url('https://pre00.deviantart.net/9ba3/th/pre/i/2015/281/b/c/ant_man_and_the_wasp_fanmade_poster_by_punmagneto-d9cg0os.jpg') no-repeat;
	float: left;
	background-size: 100%;
	width: 250px;
	height: 250px;
}
.effectfront1 {

	opacity: 0;
	border: none;
	margin: 0 auto;
	min-height: 100%;
}
.effectfront1:hover{
opacity: 1;
transition: all 0.3s;
-webkit-transition:all 0.3s;
width: 400px;
height: 400px;
}

.effectback2{
	
	display: block;
	background: url('http://www.joblo.com/newsimages1/antmanwasphand.jpg') no-repeat;
	float: left;
	margin-left: 300px;
	background-size: 100%;
	width: 250px;
	height: 250px;
}
.effectfront2 {

	opacity: 0;
	border: none;
	margin: 0 auto;
	min-height: 100%;
}
.effectfront2:hover{
opacity: 1;
transition: all 0.3s;
-webkit-transition:all 0.3s;
width: 400px;
height: 400px;
}

.effectback3{
	
	display: block;
	background: url('https://pre00.deviantart.net/6d7b/th/pre/i/2015/200/0/c/ant_man_commission_art_by_quahkm-d921556.jpg') no-repeat;
	float: left;
	margin-left: 300px;
	background-size: 100%;
	width: 250px;
	height: 250px;
}
.effectfront3 {

	opacity: 0;
	border: none;
	margin: 0 auto;
	min-height: 100%;
}
.effectfront3:hover{
opacity: 1;
transition: all 0.3s;
-webkit-transition:all 0.3s;
width: 400px;
height: 400px;
}

.effectback4{
	
	display: block;
	background: url('https://omegaunderground.com/wp-content/uploads/2015/10/ANT-MAN_AND_WASP_MARVEL-STUDIOS_JULY-2018_.jpg') no-repeat;
	float: left;
	
	background-size: 100%;
	width: 250px;
	height: 250px;
}
.effectfront4 {

	opacity: 0;
	border: none;
	margin: 0 auto;
	min-height: 100%;
}
.effectfront4:hover{
opacity: 1;
transition: all 0.3s;
-webkit-transition:all 0.3s;
width: 400px;
height: 400px;
}

.effectback5{
	
	display: block;
	background: url('http://d1vr6n66ssr06c.cloudfront.net/wp-content/uploads/sites/4/2017/07/Ant-Man-and-The-Wasp-Poster-feat.jpg') no-repeat;
	float: left;
	margin-left: 300px;
	background-size: 100%;
	width: 250px;
	height: 250px;
}
.effectfront5 {

	opacity: 0;
	border: none;
	margin: 0 auto;
	min-height: 100%;
}
.effectfront5:hover{
opacity: 1;
transition: all 0.3s;
-webkit-transition:all 0.3s;
width: 400px;
height: 400px;
}

.effectback6{
	
	display: block;
	background: url('https://pre00.deviantart.net/3c71/th/pre/i/2017/292/3/c/ant_man_and_the_wasp_poster_by_gasa979-dbr3br0.png') no-repeat;
	float: left;
	margin-left: 300px;
	background-size: 100%;
	width: 250px;
	height: 250px;
}
.effectfront6 {

	opacity: 0;
	border: none;
	margin: 0 auto;
	min-height: 100%;
}
.effectfront6:hover{
opacity: 1;
transition: all 0.3s;
-webkit-transition:all 0.3s;
width: 400px;
height: 400px;
}

